parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - tests
    ignoreErrors:
        - '#Call to an undefined method#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
